/* ========== Global Details ========== */

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf") format("opentype");
}

@font-face {
    font-family: Open Sans;
    src: url("../fonts/OpenSans-Regular.ttf") format("opentype");
}

@font-face {
    font-family: SFNS;
    src: url("../fonts/sfns.ttf") format("opentype");
}

html, body {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    background-color: #eee;
    width: 100% !important;
    height: 100% !important;
    color: #000000;
    letter-spacing: 0.5px;
    text-align: center;
    font-size: 16px;
    box-sizing: border-box;
}

noscript {
    position: relative;
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #FF0000;
    color: #FFF;
    font-size: 14px;
    z-index: 1;
}

main {
    position: relative;
    height: 100%;
}

a {
    text-decoration: none;
}

input:focus {
    outline: none;
}

hr {
    margin: 15px 0;
    border: none;
    height: 1px;
    color: #CCCCCC;
    background-color: #CCCCCC;
}

/* Grid System */

.row {
    height: auto;
    overflow: hidden;
    margin-bottom: 20px;
}

.row:last-child {
    margin-bottom: 0;
}

.row:after {
    content: '';
    display: block;
    clear: both;
}

[class*='col-'] {
    position: relative;
    float: left;
    margin-right: 20px;
}

[class*='col-']:last-child {
    clear: right;
    margin-right: 0;
}

.col-lg-1 {width: calc( (100% - (24/1 - 1) * 20px) / 24 * 1 ) !important;}
.col-lg-2 {width: calc( (100% - (24/2 - 1) * 20px) / 24 * 2 ) !important;}
.col-lg-3 {width: calc( (100% - (24/3 - 1) * 20px) / 24 * 3 ) !important;}
.col-lg-4 {width: calc( (100% - (24/4 - 1) * 20px) / 24 * 4 ) !important;}
.col-lg-5 {width: calc( (100% - (24/5 - 1) * 20px) / 24 * 5 ) !important;}
.col-lg-6 {width: calc( (100% - (24/6 - 1) * 20px) / 24 * 6 ) !important;}
.col-lg-7 {width: calc( (100% - (24/7 - 1) * 20px) / 24 * 7 ) !important;}
.col-lg-8 {width: calc( (100% - (24/8 - 1) * 20px) / 24 * 8 ) !important;}
.col-lg-9 {width: calc( (100% - (24/9 - 1) * 20px) / 24 * 9 ) !important;}
.col-lg-10 {width: calc( (100% - (24/10 - 1) * 20px) / 24 * 10 ) !important;}
.col-lg-11 {width: calc( (100% - (24/11 - 1) * 20px) / 24 * 11 ) !important;}
.col-lg-12 {width: calc( (100% - (24/12 - 1) * 20px) / 24 * 12 ) !important;}
.col-lg-13 {width: calc( (100% - (24/13 - 1) * 20px) / 24 * 13 ) !important;}
.col-lg-14 {width: calc( (100% - (24/14 - 1) * 20px) / 24 * 14 ) !important;}
.col-lg-15 {width: calc( (100% - (24/15 - 1) * 20px) / 24 * 15 ) !important;}
.col-lg-16 {width: calc( (100% - (24/16 - 1) * 20px) / 24 * 16 ) !important;}
.col-lg-17 {width: calc( (100% - (24/17 - 1) * 20px) / 24 * 17 ) !important;}
.col-lg-18 {width: calc( (100% - (24/18 - 1) * 20px) / 24 * 18 ) !important;}
.col-lg-19 {width: calc( (100% - (24/19 - 1) * 20px) / 24 * 19 ) !important;}
.col-lg-20 {width: calc( (100% - (24/20 - 1) * 20px) / 24 * 20 ) !important;}
.col-lg-21 {width: calc( (100% - (24/21 - 1) * 20px) / 24 * 21 ) !important;}
.col-lg-22 {width: calc( (100% - (24/22 - 1) * 20px) / 24 * 22 ) !important;}
.col-lg-23 {width: calc( (100% - (24/23 - 1) * 20px) / 24 * 23 ) !important;}
.col-lg-24 {width: calc( (100% - (24/24 - 1) * 20px) / 24 * 24 ) !important;}

/* ========== Main Website Parts ========== */

/* Containers */

.container-fluid {
    width: 100%;
    height: auto;
    position: relative;
}

.container-inner {
    background-color: #FFF;
    height: 100%;
    width: 100%;
}

/* Navigation bars */

#menu-bar {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #222A46;
    text-align: left;
    font-weight: bold;
}

#menu-bar li {
    height: 60px;
    width: 100%;
    padding-left: 30px;
    line-height: 60px;
    color: #fff;
    font-size: 18px;
}

#menu-bar li:hover {
    color: #0DDE74;
}

#menu-bar li:hover {
    background-color: rgba(255,255,255,0.1);
}

#menu-bar li > i {
    margin-right: 10px;
}

#menu-bar li.menu-heading {
    color: #666;
    background-color: transparent;
    height: 40px;
    line-height: 40px;
    width: 100%;
}

#dashboard-logo {
    width: 100%;
    height: 70px;
    margin: 25px auto;
    text-align: center;
}

#dashboard-user-box {
    position: absolute;
    display: table;
    bottom: 0;
    height: 100px;
    width: 100%;
    border-top: 1px solid #CCC;
}

#user-logo-box, #user-small-logo-box, #user-text-box {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

#user-logo-box {
    width: 80px;
}

#user-small-logo-box {
    width: 50px;
}

#user-text-box {
    width: calc(100% - 80px);
    color: #FFF;
    text-align: center;
}

.user-status {
    display: table;
}

.user-status > div {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.user-logo {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: lightblue;
    margin: 0 auto;
}

.user-small-logo {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: lightblue;
    margin: 0 auto;
}

.online-box {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: green;
}

.user-status-text {
    width: 100px;
    padding-left: 10px;
    text-align: left;
}

.online-box-container {
    padding-left: 65px;
}


/* Content */

#dashboard-content-box {
    position: relative;
    width: calc(100% - 300px);
    height: 100%;
    left: 300px;
}

#page-title-container > .container-inner {
    display: table;
    height: 70px;
}

#dashboard-title, #dashboard-user-settings{
    padding: 0 20px;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: auto;
}

#dashboard-title {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

#dashboard-user-settings {
    width: 150px;
    border-left: 1px solid #CCC;
}

#dashboard-user-settings-button {
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
}

#dashboard-user-settings-button i {
    cursor: pointer;
}

#dashboard-short-info {
    height: 410px;
}

#dashboard-short-info img {
    margin: 15px 0;
}

#dashboard-exercises-info {
    height: 350px;
}

#dashboard-exercises-info > div {
    height: 100%;
    display: table;
}

#dashboard-exercises-info > div > .row {
    height: 50%;
}

#dashboard-content  {
    margin: 20px;
    text-align: left;
}

#dashboard-content div {
    border-radius: 15px;
}

#dashboard-content > .container-fluid {
    text-align: center;
}

/* Login Page */

#login-box {
    font-family: 'Roboto', sans-serif !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 500px;
    height: auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border: 1px solid #CCC;
    overflow: hidden;
    color: #CCC;
    text-align: left;
}

#login-box  > .container-inner {
    padding: 30px;
}

#login-box .container-fluid {
    margin-bottom: 25px;
}

#login-box .container-fluid:last-child {
    margin-bottom: 0;
}

#login-box input {
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #CCC;
}

#login-box label {
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 10px;
}

/* Misc */

.fluid-button {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 15px;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
}

.fluid-button:focus {
    outline: none;
}

.normal-login-button {
    background-color: #0DDE74;
}

.facebook-button {
    background-color: #4A90E2;
}

.google-plus-button {
    background-color: #FF4E4E;
}

.text-button {
    color: limegreen;
}

#register-text {
    text-align: center;
}

.register-text {
    opacity: 0.5;
    color: #1D1D26;
    font-size: 11px;
    line-height: 12px;
}

#logo {
    position: absolute;
    top: 70px;
    left: 100px;
    background: url("../images/logo.png") no-repeat;
    width: 199px;
    height: 92px;
}

.title {
    color: #222A46;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.active-time {
    display: table;
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    text-align: center;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.active-time > div {
    display: table-cell;
    height: 35px;
    vertical-align: middle;
    color: #FFF;
    font-size: 24px;
}

.good-posture {
    background-color: #0DDE74;
}

.fair-posture {
    background-color: #FFE725;
}

.bad-posture {
    background-color: #FC3B3B;
}

.thin-box {
    font-family: SFNS;
    color: #656C86;
    padding-bottom: 80px;
}

.exercise > div {
    display: table;
    width: 100%;
    height: 100%;
}

.exercise-image, .exercise-text {
    display: table-cell;
    vertical-align: middle;
}

.exercise-text {
    text-align: left;
}

.exercise-text span:first-child {
    color: #0DDE74;
    font-size: 24px;
}